body{
    margin:0;
    display: flex;
    justify-content: center;
    background-color:rgb(13, 231, 247)
   
}
.form{
    position: absolute;
    top:30%;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    width:400px; 
    background-color: yellow;
    border-radius: 20px;
}
.input{
    width:100%;
    padding:20px;
    box-sizing: border-box;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    border-radius: 10px 10px 0 0;
    border:none;   
}
.input::placeholder{
    color:lightgray;
}
.list{
    padding:0; 
    margin:0;
}
.list li{
    list-style-type: none; 
    font-family: 'Times New Roman', Times, serif;
    border-top: dashed darkgray;
    padding:20px;
    border-color: darkgray;
    position: relative;
}
.list li .fa-circle-check{
    color: rgb(19, 197, 19);
    position: absolute;
    cursor: pointer;
    right:40px;
    top:50%;
    transform: translateY(-50%);
}
.list li.checked .fa-circle-check{
    color:darkgray;
}
.list li .fa-trash-arrow-up{
    color: rgb(255, 0, 0);
    position: absolute;
    cursor: pointer;
    right:20px;
    top:50%;
    transform: translateY(-50%);
}
.list li.checked{
    color:darkgray;
    text-decoration: line-through;
}
