body{
    margin:0;
    display: flex;
    justify-content: center; /* By using 3,4 lines the contents appeared to center*/
    background-color:rgb(13, 231, 247)
   
}
.form{
    position: absolute;
    top:30%;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    width:400px; /* width of form box */
    background-color: yellow;
    border-radius: 20px;
}
.input{
    width:100%;
    padding:20px;
    box-sizing: border-box;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
     /* as we have set this input-box was setted in list-box */
    border-radius: 10px 10px 0 0;
    border:none;   
}
.input::placeholder{
    color:lightgray;
}
.list{
    padding:0; /* we have setted both to 0 because to keep out the dots which willl come as we are using li */
    margin:0;
}
.list li{
    list-style-type: none; /* those dots were removed */
    font-family: 'Times New Roman', Times, serif;
    border-top: dashed darkgray;
    padding:20px; /* padding means distance between content's imaginary box to the contents */
    border-color: darkgray;
    position: relative;
}
.list li .fa-circle-check{
    color: rgb(19, 197, 19);
    position: absolute;
    cursor: pointer;
    right:40px;
    top:50%;
    transform: translateY(-50%);
}
/* line 62 continuation */
.list li.checked .fa-circle-check{
    color:darkgray;
}
.list li .fa-trash-arrow-up{
    color: rgb(255, 0, 0);
    position: absolute;
    cursor: pointer;
    right:20px;
    top:50%;
    transform: translateY(-50%);
}
.list li.checked{
    color:darkgray;
    text-decoration: line-through; /* with this the word will be stricked-off */
}